.container {
    width: 100%;
    height: 600px;
    border: 3px solid #5a2a27;
    border-radius: 6px;
    box-shadow: 9px 9px 10px #7a4440 ;
    background-color: #fff1e6;
   


}

.heading {
    width: 95%;
    height: 40px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 9px;
    background-color: #708238;
    color:#fffaf0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    
   

}

.box {
    width: 98%;
    height: 500px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
   

}

.box1 {
    width: 23%;
    height: 500px;
    border: 2px solid #b0a677;
    /* box-shadow: 5px 5px 6px  #e3c584;  */
    
    background-color: white;


}

.product {
    width: 85%;
    height: 330px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 10px;

}

.related{
    width: 85%;
    height: 55px;
     border: 2px solid black;
     margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 8px;
    
}

.price{
    width: 85%;
    height: 55px;
     border: 2px solid black;
     margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 8px;
   
}
.product>img{
    width: 100%;
    height: 330px;
    border-radius: 10px;
    box-shadow: 6px 6px 9px #c1ba98 ;

}
.related{
    font-family: cursive;
    font-size: 15px;
    text-align: center;
   
    
}
.heading>h2{
   
    text-align: center;
    margin-bottom: 20px;
     
}

h1{
     font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    text-align: center;
    color:  #ff6f61;
}
h3{
    color: #5a2a27;
}