.container{
    width: 1000px;
    height: 80px;
    border: 2px solid black;
    background-color: rgb(253, 4, 16);
    display: flex;
    justify-content:space-evenly;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-radius: 7px;
    box-shadow: 9px 9px 7px black;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.center{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.cart{
    display: flex;
    justify-content: center;
    align-items: center;
}
