.profile-container {
    width: 800px;
    height: 400px;
    border: 2px solid rgb(252, 251, 251);
    background-color: rgb(241, 190, 37);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    position: relative;
    border-radius: 6px;
    box-shadow: 7px 7px 9px rgb(6, 5, 5);
}

.box1{
    width: 700px;
    height: 300px;
    border: 2px solid white;
    margin-top: 50px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    box-shadow: 7px 7px 9px rgb(7, 6, 6);
    position: relative;


}

.images>img {
    width: 300px;
    height: 300px;



}

.images {
    width: 300px;
    height: 300px;
    /* border: 2px solid red; */


}

.heading {
    width: 300px;
    height: 100px;
    /* border: 1px solid black; */
    position: relative;
    left: 300px;
    bottom: 300px;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box{
    width: 750px ;
    height: 300px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;

}