.main{
    background-color: rgb(39, 239, 49);
    height: 350px;
    width: 600px;
    border: 3px solid black;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-left: 40px;
}

.box1{
    width: 150px;
    height: 100px;
    background-color: rgb(1, 1, 0);
    border: 2px solid rgb(237, 19, 19);
    margin-top: 20px;
    padding: 20px;
    margin-left: 70px;
    text-align: center;
    color: rgb(245, 245, 247);
}
.box2{
    width: 150px;
    height: 100px;
    background-color: rgb(254, 254, 252);
    border: 2px solid rgb(244, 45, 10);
    margin-top: 20px;
    padding: 20px;
    margin-left: 60px;
    text-align: center;
    color: rgb(6, 6, 7);
}
.box3{
    width: 150px;
    height: 100px;
    background-color: rgb(239, 9, 28);
    border: 2px solid rgb(0, 7, 0);
    margin-top: 20px;
    padding: 20px;
    margin-left: 60px;
    text-align: center;
    color: rgb(242, 246, 243);
}
.box4{
    width: 150px;
    height: 100px;
    background-color: rgb(249, 249, 246);
    border: 2px solid rgb(0, 3, 0);
    margin-top: 20px;
    padding: 20px;
    margin-left: 60px;
    text-align: center;
    color: rgb(254, 15, 47);
}