.container {
    width: 100%;
    height: 780px;
    /* border: 2px solid black; */
    background-color: rgb(1, 1, 86);
    display: flex;



}

.grid {
    width: 60%;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    color: white;
    /* background-color: aqua; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;

}

.navbar { 
    width: 880px;
    grid-column: 1/4;
    background-color:rgb(3, 3, 135);
    height: 70px;
    border-radius: 5px;
    display: flex;



}

.settings {
    width: 130%;
    height: 75px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;


}

.profile {
    width: 80%;
    height: 75px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: end;
    align-items: center;
    /* margin-right: 15px; */
}

.image {
    width: 60px;
    height: 60px;
    border-radius: 60%;
}

.menu-box {
    width: 80%;
    height: 390px;
    background-color:rgb(3, 3, 135);
    /* border: 2px solid black; */
    margin-top: 10px;
    border-radius: 4px;
}


.menu {
    width: 100%;
    height: 60px;
    /* border: 2px solid black; */
    background-color: rgb(26, 168, 228);
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-grid {
    width: 100%;
    height: 65px;
    border-bottom: 2px solid rgb(91, 90, 90);
    display: flex;

}

.icon-box {
    width: 20%;
    height: 65px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;


}

.text-box {
    width: 30%;
    height: 65px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 20px;
    margin-right: 90px;

}

.number-box {
    width: 25px;
    height: 25px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border-radius: 30%;
    margin-top: 18px;
    margin-right: 5px;
}

.name-box {
    width: 100%;
    height: 450px;
    border: 2px solid black;
    background-color:rgb(3, 3, 135);
    margin-top: 10px;
    margin-left: -40px;
}

.plus-icon {
    width: 30px;
    height: 20px;
    /* border: 2px solid black; */
    margin-left: 260px;
    margin-top: 6px;
    display: flex;
    justify-content: end;
}

.photo {
    width: 300px;
    height: 300px;
    /* border: 2px solid black; */
}

.photo>img {
    width: 170px;
    height: 170px;
    border-radius: 170%;
    border: 3px solid rgb(103, 100, 100);
    margin-left: 60px;
    margin-top: 20px;

}

.about-box {
    width: 250px;
    height: 100px;
    /* border: 2px solid black; */
    margin-top: -80px;
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    text-align: center;
    font-weight: lighter;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.row-box {
    width: 300px;
    height: 80px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;

}

.row-column-one {
    width: 98px;
    height: 50px;
    border: 1px solid black;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 5px solid yellow;
}

.row-column-two {
    width: 98px;
    height: 50px;
    border: 1px solid black;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 5px solid rgb(8, 224, 253);
}

.row-column-three {
    width: 98px;
    height: 50px;
    border: 1px solid black;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 5px solid rgb(255, 0, 0);
}

.sub-box {
    width: 300px;
    height: 250px;
    border: 2px solid black;
    margin-top: 10px;
    background-color: rgb(3, 3, 135);
    margin-left: -20px;


}

.join-box {
    width: 300px;
    height: 50px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.email-box {
    width: 250px;
    height: 50px;
    border: 2px solid black;
    display: flex;
    margin-left: 20px;
    background-color:rgb(136, 137, 138);


}

.email-icon {
    width: 30px;
    height: 50px;
    /* border: 2px solid black; */
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.email-text {
    width: 180px;
    height: 50px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;


}

.subscribe-box {
    width: 150px;
    height: 50px;
    border: 2px solid black;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
    border-radius: 5px;
    background-color: rgb(26, 168, 228);
    font-weight: bolder;
    font-size: 20px;
}

.year-box {
    width: 80%;
    height: 280px;
    border: 2px solid black;
    margin-top: -50px;
    background-color:rgb(3, 3, 135);
  
}

.status-box {
    width: 80%;
    height: 30px;
    /* border: 2px solid black; */
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bolder;
    font-size: 18px;
}

.circle-box {
    width: 140px;
    height: 120px;
    border: 40px solid rgb(26, 168, 228);
    border-radius: 130%;
    background-color: rgb(3, 3, 135);
    margin-top: 20px;
    margin-left: 10px;

}

.month-box {
    width: 60px;
    height: 60px;
    /* border: 2px solid black; */
    margin-left: 40px;
    margin-top: 35px;
    font-size: 20px;
    text-align: center;

}


.weather-box {
    width: 300px;
    height: 220px;
    /* border: 2px solid black; */
    display: flex;
    margin-top: 10px;
    background-color: rgb(199, 7, 7);
    margin-left: -40px;


}
.color-box{
    width: 300px;
    height: 50px;
    /* border: 2px solid greenyellow; */
    display: flex;
    background-color: rgb(80, 3, 3);

}

.location-icon {
    width: 30px;
    height: 50px;
    /* border: 2px solid black; */
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;

}

.location-text {
    width: 300px;
    height: 50px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: bolder;
}

.colud-box{
    width: 400px;
    height: 200px;
    /* border: 2px solid black; */
    margin-left: -300px;
    margin-top: 120px;
    display: flex;
    justify-content: center;
}
.digit-box{
    height: 50px;
    width: 100px;
   margin-right: 10px;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.date-box{
    width: 100px;
    height: 30px;
    /* border: 2px solid black; */
    margin-top: 70px;
    margin-left: -400px;
    text-align: center;
    font-size: 20px;

}

.sigin-box{
    width: 300px;
    height: 420px;
    border: 2px solid black;
    margin-top: -190px;
    margin-left: -20px;
    background-color: rgb(3, 3, 135);
    
}

.sigin-heading{
    width: 300px;
    height: 50px;
    /* border: 2px solid black; */
    text-align: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;

}

.sign-box{
    width: 160px;
    height: 40px;
    border: 2px solid black;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
    border-radius: 5px;
    background-color: rgb(243, 55, 55);
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 10px;
}

.forgot-box{
     width: 150px;
    height: 20px;
    /* border: 2px solid black; */
    margin-left: 100px;
    margin-bottom: 45px;

}


.facebook-box {
    width: 300px;
    height: 50px;
    /* border: 2px solid black; */
    display: flex;
    
    background-color: rgb(36, 12, 192);


}

.facebook-icon {
    width: 30px;
    height: 50px;
    /* border: 2px solid black; */
   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;

}

.facebook-text {
    width: 300px;
    height: 50px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    margin-left: -12px;


}